<ion-header>
    <ion-toolbar>
        <ion-title>
            Artemis' Blog
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <ion-img class="home-image" src="assets/images/me.jpg"></ion-img>
        <p>Γεια σας!<br> Με λένε Άρτεμις... Καλώς ήρθατε στο blog μου. Αν και είμαι φοιτήτρια πληροφορικής, παράλληλα έχω και άλλα χόμπυ. Σε αυτό το blog ποστάρω σχετικά πράγματα που μπορεί να σας αρέσουν, εμπνέυσουν ή απλά σας κινήσουν το ενδιαφέρον.
            <br> Προς το παρόν υπάρχουν διαθέσιμες κατηγορίες για τυχόν ταξιδάκια που πηγαίνω και για ζωγραφική.
        </p>
    </div>

</ion-content>