<ion-header>
    <ion-toolbar>
        <ion-title>
            Artemis' Adventures
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <div class="article">
            <p class="article-title">Γεφυράκι Ενιπέα</p>
            <ion-img class="article-image" src="assets/images/img1.jpg"></ion-img>
            <p class="article-text">Περάσαμε σήμερα και από τα 7 γεφυράκια στο φαράγγι του Ενιπέα. Ήταν πολύ όμορφα!</p>
        </div>
        <div class="article">
            <p class="article-title">Ήλιος!</p>
            <ion-img class="article-image" src="assets/images/img2.jpg"></ion-img>
            <p class="article-text">Τα γυαλιά ηλίου είναι αρκετά χρήσιμα θα πω...</p>
        </div>
        <div class="article">
            <p class="article-title">Εκκλησάκι</p>
            <ion-img class="article-image" src="assets/images/img3.jpg"></ion-img>
            <p class="article-text">Και εκεί που χαθήκαμε στην διαδρομή, ανακαλύψαμε τυχαία ένα εκκλησάκι του Αγίου Διονύση! Και ευτυχώς βρέθηκαν κι άλλοι πεζοπόροι και μας δώσαν οδηγίες.</p>
        </div>
        <div class="article">
            <p class="article-title">Σαν στο σπίτι σου...</p>
            <ion-img class="article-image" src="assets/images/img4.jpg"></ion-img>
            <p class="article-text">Το σπίτι μας στο βουνό! Φάγαμε ζεστά noodles και κοιμηθήκαμε στις αιώρες μας!</p>
        </div>
        <div class="article">
            <p class="article-title">Διαδρομή</p>
            <ion-img class="article-image" src="assets/images/img5.jpg"></ion-img>
            <p class="article-text">Έτσι έμοιαζε ένα μεγάλο μέρος της διαδρομής μας. Μέσα στα δέντρα, την δροσιά, τον φρέσκο αέρα και τον ήχο του ποταμού στο φαράγγι. Μαγευτικό!</p>
        </div>
        <div class="article">
            <p class="article-title">Ζεστασιά</p>
            <ion-img class="article-image" src="assets/images/img6.jpg"></ion-img>
            <p class="article-text">Τελικά, αν και καλοκαίρι, έχει κρύο εδώ πάνω...</p>
        </div>
    </div>

</ion-content>