<ion-header>
    <ion-toolbar>
        <ion-title>
            Artemis' Art
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <div class="article">
            <p class="article-title">Ψηφιακή Ζωγραφική</p>
            <ion-img class="article-image" src="assets/images/seriousgirl.png"></ion-img>
            <p class="article-text">Ένα γρήγορο σκιτσάκι ψηφιακά.</p>
        </div>
        <div class="article">
            <p class="article-title">Ηλιοβασίλεμα</p>
            <ion-img class="article-image" id="vrahia" src="assets/images/vrahia.jpg"></ion-img>
            <p class="article-text">Ηλιοβασίλεμα με νερομπογιές.</p>
        </div>
        <div class="article">
            <p class="article-title">Πορτρέτο</p>
            <ion-img class="article-image" src="assets/images/prosopo-2.jpg"></ion-img>
            <p class="article-text">Πορτρέτο αγοριού με νερομπογιές.</p>
        </div>
        <div class="article">
            <p class="article-title">Πουλάκια</p>
            <ion-img class="article-image" src="assets/images/poulakia-3.jpg"></ion-img>
            <p class="article-text">Ζωγραφιά με νερομπογιές. Ένα πουλάκι για κάθε ένα που είχε η αδερφή μου, ώστε να τα θυμάται...</p>
        </div>
        <div class="article">
            <p class="article-title">Εξάσκηση</p>
            <ion-img class="article-image" src="assets/images/wlop-practice-wip-2.png"></ion-img>
            <p class="article-text">Μελέτη από καλλιτέχνη "Wlop" με ψηφιακά μέσα.</p>
        </div>
    </div>

</ion-content>